:root {
  --dark: #1f2937;
  --white: #f9faf8;
  --white-s: #e5e7eb;
  --blue: #3882f6;
}

body,
h1,
h2,
h3,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

/* ///////// Header Section \\\\\\\\\ */
.header-section {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  gap: 120px;
  padding: 20px 12.5% 130px 12.5%;
}

/* /// Header \\\ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  list-style: none;
  display: flex;
  gap: 24px;
}

.header-links a {
  text-decoration: none;
  color: var(--white-s);
  font-size: 18px;
}
/* === Header === */

/* /// Hero \\\ */
.hero {
  display: flex;
  justify-content: space-between;
}

.left-hero {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-main-text {
  color: var(--white);
  font-size: 48px;
  font-weight: bold;
}

.hero-secondary-text {
  color: var(--white-s);
  margin-bottom: 10px;
}

.button {
  border: none;
  cursor: pointer;
  background-color: var(--blue);
  flex-shrink: 0;
  padding: 8px 34px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/* ------------- */
.right-hero {
  width: 50%;
  display: flex;
}

.image-placeholder {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* === Hero === */
/* ========== Header Section ========= */

/* ////////// Info Section \\\\\\\\\\ */
.info-section {
  color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
  padding: 55px 0 125px 0;
}

.info-title {
  font-size: 36px;
}

.info-cards {
  width: 60%;
  display: flex;
  justify-content: center;
  gap: 46px;
  flex-wrap: wrap;
}

.card {
  width: 160px;
}

.img-container {
  border: 4px solid var(--blue);
  height: 160px;
  border-radius: 16px;
  margin-bottom: 12px;
}
/* ========== Info Section ========= */

/* ////////// Quote Section \\\\\\\\\\ */
.quote-section {
  background-color: var(--white-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 130px 300px 110px;
  color: var(--dark);
}

.quote-section q {
  font-size: 36px;
  font-style: italic;
}

.quote-section p {
  font-size: 24px;
  font-weight: bold;
  margin: 16px;
  margin-left: auto;
}
/* ========== Quote Section ========= */

/* ////////// Sign-up Section \\\\\\\\\\ */
.sign-up-section {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

.sign-up-card {
  flex: 0.7;
  background-color: var(--blue);
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 120px;
}

.sign-up-card .button {
  border: 2px solid white;
}
/* ========== Sign-up Section ========= */

/* ////////// Footer Section \\\\\\\\\\ */
.footer {
  background-color: var(--dark);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}
/* ========== Footer Section ========= */
